fastapi==0.124.4
starlette==0.49.1

uvicorn[standard]==0.38.0
uvloop==0.22.1

pydantic==2.9.2
pydantic-settings==2.12.0

python-dotenv==1.0.1
python-multipart==0.0.20

loguru==0.7.3
python-json-logger==2.0.7

jinja2==3.1.6
requests==2.32.4
httpx==0.27.0

watchtower==3.0.0
aws-xray-sdk==2.13.0
mangum==0.17.0
